body {
	/*background-image:	url("../photos/background.jpg");*/
	/*color:	#4d5259;*/
}

hr {
    border-color:		#4d5259 !important;
}

#nav-title{
	margin-top:			10px;
	margin-left:		auto;
	margin-right:		auto;
	margin-bottom:		2px;
}

.productBox {
	border-width:		2px;
	border-style:		outset;
	border-color:		gray;
}

.productPageImg{
	border-style:		solid;
	border-color:		black;
	border-width:		2px;
	margin:				0px;
}

.center {
	text-align:			center !important;
	margin-left:		auto !important;
	margin-right:		auto !important;
}

#purchaseBtn {
	margin-top: 5px;
}

#comingSoon {
	background-color:	#8e0000;
	color:				#ffffff;
	
}

#down-img {
	width:				80%;
}

h3 {
	font-weight:		bold !important;
	font-family:		Futura !important;
}

#product-name {
	
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width:				600px;
    margin:				auto;
}

.carousel {
	border-style:		solid hidden solid hidden;
	border-width:		1px;
}

.margin10 {
	margin:				10px;
}

#logo{
    margin:				0 0 10px 10px;
	height:				200px;
	width:				auto;
	display: 			block;
    margin-left:		auto;
    margin-right:		auto;
}
.productImage {
	margin:				0 0 10px 10px;
	height:				200px;
	width:				auto;
}

.center-float{
	margin-left:		auto;
	margin-right:		auto;
	position:			absolute;
	top:				123px;
}

.overlay { 
   position:			relative; 
   width:				100%;
}

.overlay-text { 
   position:			absolute; 
   top:					200px; 
   left:				0; 
   width:				100%;
}

.align-left {
	position:			absolute;
	text-align:			left;
}

#banner{
	margin:				0px;
    position:			absolute;
    z-index:			5;
    color:				white;
}
#banner > h2 {
    position:			relative;
    top:				30px;
	left:				-10px;
    width:				150px;
	height:				30px;
    background:			#942911;
}
